

.container {
    width: 300px; 
    height: 80px; 
    position: relative;
    tr td b {
        line-height: 150%;
    }
    #fizz {
        position:absolute; 
        right:0; 
        top:0;
        height:20px;
    }
    .b {
        position: absolute;
        top:60%;
        left:0; 
        line-height: 140%;
    }
    #buzz {
        position:absolute; 
        right:0; 
        top:60%;
        height:20px;
    }
    #btn {
        width: 50px; 
        position:absolute; 
        top: 100%; 
        left: 0;
    }
    p {
        position:absolute; 
        top:100px;
    }
    #table {
        position:absolute;
        top:140px;
        width:50px;
        height:500px;
        p {
            top:0;
            position:relative; 
            margin: 0 auto;
        }
        p:nth-child(1){
            margin-top: 10px;
        }
    }
}